<div id="<%= "#{dom_id(comment)}_comment_reply_form" %>">
  <%= form_with url: "/comment/reply/new", method: :post do |form| %>
  <%= form.text_field :comment_id, class: "form-control", placeholder: "Comment ID", value: comment.id, type: :hidden, :required => true %> <p></p>
  <%= form.text_field :replier, class: "form-control", placeholder: "Put your name", value: current_user.username, type: :hidden, :required => true %> <p></p>
  <%= form.text_area :reply, class: "form-control", placeholder: "Write your reply here", :required => true %>
  </p>
  <p>
    <%= form.submit "Reply", class: "bttn-common bttn-comment-common bttn" %>
  </p>
  <% end %>
</div>