<h2>Edit Profile</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <p></p>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control", :required => true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p></p>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <p></p>
  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "New Password (minimum " + @minimum_password_length.to_s + " characters)", class: "form-control" %>
  </div>
  <p></p>
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "form-control" %>
  </div>
  <p></p>
  <div class="field">
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current Password", class: "form-control", :required => true %>
  </div>
  <p></p>
  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<br> <br>

<div class="card text-center">
  <div class="card-body">
    <h3 class="card-title">Unhappy?</h3>
    <p class="card-text">Click the button below to cancel your account</p>
    <%= button_to "Cancel Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
  </div>
</div>


<br><br><br>
<%= link_to "Back", :back, class: "btn btn-outline-primary" %>
<br><br><br>
