<div class="card">
  <div class="card-body">
    <h2 class="card-title txt-title">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <p></p>
      <div class="field">
        <span class="input-group-text padding">
          <span class="fa fa-user padding-input-icon"></span> 
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "First Name", class: "form-control input-radius", :required => true %>
        </span>	
      </div>  <p></p>
      <div class="field">
        <span class="input-group-text padding">
            <span class="fa fa-user padding-input-icon"></span> 
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "Last Name", class: "form-control input-radius", :required => true %>
        </span>	
      </div>  <p></p>
      <div class="field">
        <span class="input-group-text padding">
          <span class="padding-input-username">@</span> 
            <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "Username (has to be unique)", class: "form-control input-radius", :required => true %>
        </span>	
      </div>  <p></p>
      <div class="field">
       <span class="input-group-text padding">
            <i class="fa fa-paper-plane padding-input-icon"></i>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control input-radius", :required => true %>
        </span>	
      </div>  <p></p>

      <div class="field dropdown-password">
        <span class="input-group-text padding">
          <i class="fa fa-lock padding-input-icon"></i>
          <%= f.password_field :password, id: 'psw', autocomplete: "new-password", placeholder: "Password (minimum " + @minimum_password_length.to_s + " characters)", class: "form-control input-radius", pattern: "(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}", :required => true %>
        </span>	
        <ul class="dropdown-content-password" id="message">
          <h6 class="password-warning-text">Password must contain the following:</h6>
          <li id="letter" class="invalid dropdown-item">One <b>lowercase</b> letter</li>
          <li id="capital" class="invalid dropdown-item">One <b>uppercase</b> letter</li>
          <li id="number" class="invalid dropdown-item">One <b>number</b></li>
          <li id="length" class="invalid dropdown-item">Minimum <b>8</b> characters</li>
        </ul>
      </div>

      <p></p>
      <div class="field">
        <span class="input-group-text padding">
          <i class="bi bi-eye-fill padding-confirm-pass"></i>
          <%= f.password_field :password_confirmation, autofocus: false, placeholder: "Confirm Password", class: "form-control input-radius padding-input", :required => true %>
				</span>
      </div>
      <p></p>
      <div class="actions">
        <%= f.submit "Sign up", class: "bttn-common bttn-main-common bttn-main-main-button bttn-main" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "devise/registrations/password_script" %>

<br> <br>
<%= render "devise/shared/links" %>
