<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable bg-transparent" style="text-align: left">
    <div class="modal-content bg-transparent">
      <div class="modal-header post-new-post-modal post-line-hr">
        <% author = User.find_by(username: user) %>
        <h3 class="modal-title txt-title" id="exampleModalLabel"><%= author.first_name + " " + author.last_name %></h3>
       
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body post-new-post-modal">
        <%if author.image.attached? %>
          <div id="profile-image" class="col col-md-12" style="margin-top: 10px;">
            <%= image_tag author.image, style: "max-width: 100%; height: 100%; display: block;" %>
          </div>
        <% end %>

       <div class="row" style="margin-left: 20px; margin-top: 15px;  margin-bottom: 10px;">
        <div class="col col-md-6">
          <div id="profile-info-body">

            <div id="profile-info-title">
              <h5 class="txt-general">Info</h5>
            </div>

            <div id="profile-username" class="txt-general">
              <i class="fa-solid fa-at fa-lg" style="padding-right: 5px;"></i>
              <%= author.username %> 
            </div>

            <div class="profile-email txt-general" style="margin-top: 10px">
              <i class="fa-solid fa-envelope fa-lg" style="padding-right: 5px;"></i>
              <%= author.email %>
            </div>

            <% if !author.date_of_birth.nil? %>
              <div class="profile-age txt-general" style="margin-top: 10px">
                <%= image_tag "age.png", size: "26x25", style: "padding-right: 5px;" %>
                <%= ((Time.zone.now - author.date_of_birth.to_time) / 1.year.seconds).floor.to_s + " years"  %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col col-md-6 center">
          <% if !author.instagram.nil? || !author.twitter.nil? %>
            <% if !author.instagram.empty? || !author.twitter.empty? %>
              <div id="profile-info-social">
                <div id="profile-info-social-title">
                  <h5 class="txt-general">Socials</h5>
                </div>
                
                <div id="profile-info-social-items">
                  <% if !author.instagram.nil? %>
                    <% if  !author.instagram.empty? %>
                      <a href=<%= "https://instagram.com/" + author.instagram %> style="text-decoration: none; padding-left: 10px;"> 
                        <i class="txt-general fa-brands fa-instagram fa-2x"></i>
                      </a>
                    <% end %>
                  <% end %>

                  <% if !author.twitter.nil? %>
                    <% if !author.twitter.empty? %>
                      <a href=<%= "https://twitter.com/" + author.twitter %> style="padding-left: 10px;">
                        <i class="txt-general fa-brands fa-twitter fa-2x"></i>
                      </a> 
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      </div>
        
      <div class="modal-footer post-new-post-modal post-line-hr">
        <button type="button" class="bttn-common bttn-danger-common bttn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
