<div class="container">
  <h5 class="txt-general"> <%= current_user.first_name %> <%= current_user.last_name %></h5> <br>
  <h4 class="txt-title"> Users </h4>
  <div id="users">
    <%= turbo_stream_from "users" %>
    <% @users.each do |user| %>
      <div class="txt-general">
        <%= user.first_name %> <%= user.last_name %> <br>
      </div>
    <% end %> <br>
  </div>
    
  <h4 class="txt-title"> Rooms </h4>
    <div id="rooms" class="txt-general">
      <%= turbo_stream_from "rooms" %>
      <% @rooms.each do |room| %>
        <div class="txt-general">
          <%= room.name %> <br>
        </div>
      <% end %>
    </div>

    <br><br>
  <div>
    <%= render "room_form" %>
  </div>
</div>