<h2 class="txt-title">Posts Tobe Approved</h1>
<p></p>

<% if @posts.empty? %>
  <h5 class="txt-general">Do not have any pending posts to be approved! </h5> <p></p>
<% else %>
  <div id="posts">
    <% @posts.each do |post| %>
      <div class="card text-center">
        <div class="card-body">
          <h6 class="card-title txt-general"><%= post.title %></h6>
          <p class="card-text txt-general"><%= post.body %></p>
          <br>
          <%= link_to "Approve", post, data: { turbo_method: :post }, class: "bttn-post-details" %>
          <%= link_to "Delete", posts_delete_path(:_id => post.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "bttn-danger"%>
        </div>
        <div class="card-footer text-muted">
          <%= post.updated_at %>
        </div>
      </div>
      <p></p>
    <% end %>
  </div>
<% end %>
