<div id="<%= "#{dom_id(post)}_header" %>" style="margin-left: 12px;">
  <h2 class="card-title txt-title" style="margin-left: 0px"><%= post.title %></h2>
  
  <% if !post.category_id.nil? %>
    <% post_category = Category.find(post.category_id) %>
    <h5 class="txt-general"><%= post_category.name %></h5>
  <% end %>
 
  <p class="txt-general" style="margin-left: 0px">
    <a type="button" class="txt-general" data-bs-toggle="modal" data-bs-target="#exampleModal" style="text-decoration: none;">
      <%= post.author %>
    </a> | <%= distance_of_time_in_words(Time.now, post.updated_at) %>
  </p>
</div>