<div id="<%= "#{dom_id(post)}_footer" %>" class="card-footer">
  <div class="row">
    
    <%= render "posts/post/post_like", post: post %>
    
    <div id="<%= "#{dom_id(post)}_comment_button" %>" class="col center">
      <a class="txt-general comment-display-button" data-action="comment-visibility#toggleTargets" role="button" >
        <i class="fa-solid fa-message fa-xl"></i>
      </a>
    </div>

    <% if current_user.is_admin? %>
      <div id="<%= "#{dom_id(post)}_admin_delete" %>" class="txt-general col center">
        <%= link_to "Delete", post, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "bttn-common bttn-danger-sm bttn-danger"%>
      </div>
    <% end %>
    
  </div>
</div>
    