<%= turbo_frame_tag "appearance_channel" %>
<div id="appearance_channel"></div>
<div class="chat-index-body">

  <div id="chatroom_container" class="row">
    <div id="side_panel" class="col-md-4 col-sm-4">
     
      <li class="d-flex align-items-center" style="background-color: transparent; margin-bottom: 10px;">
        <div class="icon-container">
          <%= image_tag current_user.image, class: "nav-link", style: "width: 40px; height: 40px; display: block; border-radius: 40px" %>
           <div id="user_status">
            <%= render "users/status", user: current_user %>
          </div>
        </div>

        <h5 class="txt-title" style="margin-left: 10px;"> <%= current_user.first_name + " " + current_user.last_name %> </h5>  
      </li> <br>
      
      
      <% if !@users.empty? %>
        <h4 class="txt-title" style="margin-bottom: 15px;"> Friends </h4>
        <% @users.each do |user| %>
          <%= render 'users/user', user: user %>
        <% end %>
      <% else %>
        <div class="txt-general">
          No followers or you're not following anyone
        </div>
        
      <% end %>
      
     

      <!-- <h4 class="txt-title"> Rooms </h4>
      <%= turbo_stream_from "rooms" %>
      <div id="rooms">
         <%= render @rooms %> 
      </div><br><br>
     
      <div>
        <%= render "rooms/room_form" %>
      </div> -->
    </div>

   
    <div id="room_container" class="col-md-8 col-sm-8">

      <% if !@single_room %>      
        <div class="txt-general" style="border: 1px solid green; border-radius: 15px; height: 100vh; display: flex; justify-content: center; align-items: center;">Your messages will appear here</div>
      <% end %>
      <% if @single_room  %>
       <% if @user.nil? %>
        <h4 class="text-center txt-general" style="margin-top: 15px; margin-bottom: 15px; justify-self: flex-start;"><%= @single_room.name %></h4>
       <% else %>
        <h4 class="text-center txt-general" style="margin-top: 15px; margin-bottom: 15px; justify-self: flex-start;"><%= @user&.first_name + " " + @user.last_name %></h4>
       <% end %>
       
        <div id="single-room"> 
          <%= turbo_stream_from @single_room %>
          <div id="messages" data-controller="scroll">
            <div class="txt-general text-center" style="margin-bottom: 30px; margin-top: 20px;">Message will appear here</div>
            <%= render @messages %>
          </div>
          <div id="attachment-previews" 
            data-controller="message-preview"
            data-action="message-preview#preview"
          >
          </div>
          <div>
            <%= render "messages/form" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>