
<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p></p>
  <div>
    <%= form.text_field :title, class: "form-control", placeholder: "Title", :required => true %>
  </div>
  <p></p>

  <div>
    <%= form.select(:category, options_for_select([["Select Category", "Not Selected"],  ["Fashion", "Fashion"], ["Food", "Food"], ["Lifestyle", "Lifestyle"], ["Science", "Science"], ["Tech", "Tech"], ["Thoughts", "Thoughts"], ["Travel", "Travel"]]), {}, {class: "txt-general form-select"})%>
  </div>

  <p></p>
  <div>
    <%= form.text_area :body, class: "form-control", placeholder: "Body", :required => true %>
  </div>

  <p></p>
  <div>

  <% if current_user.is_admin? && post.author != "" && post.author != current_user.username %>
    <%= form.text_field :author, class: "form-control", placeholder: "Author" %>
  <% else %>
    <%= form.text_field :author, class: "form-control", placeholder: "Author", :required => true, value: current_user.username, type: :hidden %>
  <% end %>
    
  </div>

  <p></p>
  <div>
    <%= form.text_field :user_id, class: "form-control", placeholder: "User ID", value: current_user.id, type: :hidden, :required => true %>
  </div>

  <h6> Upload Image</h6>
  <div>
    <%= form.file_field :images, multiple: true, class: "form-control" %>
  </div>

  <p></p>
  <div>
    <%= form.submit class: "bttn-other-main" %>
  </div>
<% end %>
