<div id="<%= dom_id post %>">
  <div class="jumbotron">
    <h3 class="display-4"><%= post.title %></h3>
    <%= post.author %> | 
    <%= post.updated_at %>
    <hr class="my-4">
    <%= post.body %>
    <% if current_user.id == post.user_id %>
      <div>
        <p></p>
        <br>
        <%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary" %> 
        <%= link_to "Delete", @post, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger"%>
      </div>
    <% end %>
  </div>
</div>