<div id="<%= dom_id post %>">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title txt-title"><%= post.title %></h2>
      <p class="txt-general">
        <%= post.author %> | 
        <%= post.updated_at %>
        <hr class="my-4">
        <% if post.images.attached? %>
         <div class="card-body" style= "align-items: center; justify-content: center;">
          <% post.images.each do |image| %>
            <%= image_tag image, style: "max-width: 520px; max-height: 500px;  relative; height: relative; padding: 10px" %>
          <% end %>
           </div>
        <% end %>
        
        <%= post.body %>
      </p>
      <% if current_user.id == post.user_id || current_user.is_admin? %>

        <div>
          <p></p>
          <br>
          <% if current_user.id == post.user_id %>
            <%= link_to "Edit", edit_post_path(@post), class: "bttn-other-main" %>
          <% end %>
          <%= link_to "Delete", @post, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "bttn-danger"%>
        </div>
      <% end %>
      <br>
    </div>
  </div>
</div>