<h2 class="txt-title">All Posts</h2>
<% if @posts.empty? %>
  <p class="txt-general">None has not created any posts yet </p> <p></p>
  <%= link_to "Add a post", new_post_path, class: "bttn-other-main" %>
<% else %>
  <br>
  <div id="posts">
    <% @posts.each do |post| %>
      <div class="card text-center">
        <div class="card-body">
          <h6 class="card-title txt-general"><%= post.title %></h6>
          <p class="card-text txt-general"><%= post.body %>   
          <br><br>
          <%= link_to "Go to Post", post, class: "bttn-post-details" %>
        </div>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="txt-general col center">
              <i class="fa-solid fa-thumbs-up fa-xl txt-general"></i> &nbsp <%= post.likes.all.count %>
            </div>
            <div class="col center">
              <%= post.updated_at %>
            </div>
          </div> 
        </div>
      </div>
      <p></p>
    <% end %>
  </div>
  <br>
  <%= link_to "New post", new_post_path, class: "bttn-other-main" %>
<% end %>


