<h2 class="txt-title">All Posts</h2>
<% if @posts.empty? %>
  <p class="txt-general">None has not created any posts yet </p> <p></p>
  <%= link_to "Add a post", new_post_path, class: "bttn-other-main" %>
<% else %>
  <br>
  <div id="posts">
    <% @posts.each do |post| %>
      <div id="<%= dom_id post %>">
        
        <div class="card">
          <div class="card-body">
            <div style="margin-left: 12px;">
              <h2 class="card-title txt-title" style="margin-left: 0px"><%= post.title %></h2>
              <h5 class="txt-general"><%= post.category %></h5>
              <p class="txt-general" style="margin-left: 0px">
                <%= post.author %> | 
                <%= post.updated_at %>
              </p>
            </div>

            <div style= "align-items: center; justify-content: center;">
              <hr class="my-4">
            
              <% if post.images.attached? %>
                <div id="postImage">
                  <% post.images.each do |image| %>
                    <%= image_tag image, style: "max-width: 400px; max-height: 400px;  relative; height: relative; padding: 10px;" %>
                  <% end %>
                </div><br>
              <% end %>

              <div style="margin-left: 10px">
                <p class="txt-general">
                  <%= post.body %>
                </p>
              </div>
            </div>

            <div class="card-footer">
              <div class="row">
                
                <div class="txt-general col center">
                <% like = post.likes.find_by(username: current_user.username) %>
                  <div class="dropdwn">
                    <div id="like">
                    <% if !like.nil? %>
                      <%= link_to post_likes_path(post_id: post.id, like_id: like.id), data: { turbo_method: :delete }, class: "dropbtn" do %>
                        <i class="fa-solid fa-thumbs-up fa-2x txt-general"></i>
                      <% end %>
                    <% else %>
                      <%= link_to post_likes_path(post_id: post.id, username: current_user.username), data: { turbo_method: :post }, class: "dropbtn"  do %>
                        <i class="fa-regular fa-thumbs-up fa-2x txt-general"></i>
                      <% end %>
                    <% end %>
                    </div>
                    <div class="dropdown-content txt-general">
                      <% post.likes.each do |like| %>
                        <div style="padding: 10px"><%= like.username %></div>
                      <% end %>
                    </div>
                  </div>
                  &nbsp &nbsp <%= post.likes.all.count %>
                </div>
                <div class="col center">
                  <a class="txt-general" data-bs-toggle="collapse" href=<%= "#comments" + post.id.to_s %> role="button" aria-expanded="false" aria-controls=<%= "comments" + post.id.to_s %>>
                    <i class="fa-solid fa-message fa-xl"></i>
                  </a>
                </div>
                <% if current_user.is_admin? %>
                <div class="txt-general col center">
                  <%= link_to "Delete", post, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "bttn-danger"%>
                </div>
                <% end %>
              </div>
            </div>

            
            <div class="collapse" id=<%= "comments" + post.id.to_s %>>
              <br><br>
              <h5 class="card-title txt-title"> Comments</h5><p></p>
              <%= form_with model: [ post, post.comments.build ] do |form| %>
                <%= form.text_field :commenter, class: "form-control", placeholder: "Put your name", value: current_user.username, type: :hidden, :required => true %> <p></p>
                <%= form.text_area :body, class: "form-control", placeholder: "Write your comment here", :required => true %>
                </p>
                <p>
                  <%= form.submit "Comment", class: "bttn-comment" %>
                </p>
              <% end %>
              <br><hr class="my-4">
              <% if post.comments.all.count <= 0 %>
                <p class="txt-general">Be the first one to comment!...</p>
              <% else %>
                <%= render post.comments %>
              <% end %> 
            </div>
          </div>
        </div>
      </div>
      <br><br>
    <% end %>
  </div>
  <br>
  <%= link_to "New post", new_post_path, class: "bttn-other-main" %>
  
<% end %>



