<h1>All Posts</h1>
<br>

<% if @posts.empty? %>
  <h4>None has not created any posts yet </h4> <p></p>
  <%= link_to "Add a post", new_post_path, class: "btn btn-primary" %>
<% else %>
  <div id="posts">
    <% @posts.each do |post| %>
      <div class="card text-center">
        <div class="card-body">
          <h6 class="card-title"><%= post.title %></h6>
          <p class="card-text"><%= post.body %>    <%= post.is_approved %></p>
          
          <%= link_to "Go to Post", post, class: "btn btn-primary" %>
        </div>
        <div class="card-footer text-muted">
          <%= post.updated_at %>
        </div>
      </div>
      <p></p>
    <% end %>
  </div>
  <br>
  <%= link_to "New post", new_post_path, class: "btn btn-primary" %>
  <br><br>
<% end %>


