<div id="dashboard">
  <div id="dashboard-title" class="dashboard-title" style="margin-bottom: 20px">
    <h2 class="txt-title"><%= current_user.first_name %>'s dashboard</h2>
  </div>

  <div class="dashboard_body row" id="dashboard-body" >
    <div class="row">

      <div class="col col-md-4">
        <div class="card admin_dashboard_section_card text-center">
          <%= link_to  handle_posts_disapproved_posts_path, class: "bttn-common", style: "vertical-align: middle;" do %>
            <h5 class="card-title txt"><i class="fa-solid fa-triangle-exclamation"></i> Disapproved Posts</h5>
          <% end %>
          <p><Strong class="txt" style="margin-top: 5px;"><%= @disapproved_posts %></Strong></p>
        </div>
      </div>

      <div class="col col-md-4">
        <div class="card admin_dashboard_section_card text-center">
          <%= link_to handle_posts_pending_posts_path, class: "bttn-common", style: "vertical-align: middle;" do %>
            <h5 class="card-title txt"><i class="bi bi-hourglass-split"></i> Pending Posts</h5>
          <% end %>
          <p><Strong class="txt" style="margin-top: 5px;"><%= @pending_posts %></Strong></p>
        </div>
      </div>

      <div class="col col-md-4">
        <div class="card admin_dashboard_section_card text-center">
          <%= link_to your_posts_get_posts_path, class: "bttn-common", style: "vertical-align: middle;" do %>
            <h5 class="card-title txt"><i class="bi bi-stickies-fill"></i> Your Posts</h5>
          <% end %>
          <p><Strong class="txt" style="margin-top: 5px;"><%= @your_posts %></Strong></p>
        </div>
      </div>

    </div>
    <div class="text-center" style="margin-top: 20px;">
      <h5 class="txt">Please Click on Section Name to Open them</h5>
    </div>

    
    <% if !@requestees.empty? || !@requesters.empty? || !followees.empty? || !@followers.empty? %>
      <div class="follow">
        
        <% if !@requestees.empty? || !@requesters.empty?%>
          <div class="row request follow-section">
            
            <h4 class="txt-general">Requests</h4>

            <% if !@requestees.empty? %>
              <div class="col col-md-6 requesters section" style="margin-right: 10px;">
                <div class="row center">
                  <h6 class="col text-center col-md-12 txt-general requesters-title">Whom you have requested to follow</h6>
                  <% @requestees.each do |requestee| %>
                    <div class="col col-md-12 follow-items ">
                        <a type="button" class="txt-general" data-bs-toggle="modal" data-bs-target="#exampleModal" style="text-decoration: none; padding-left: 10px;">
                          <%= requestee.first_name + " " + requestee.last_name %>
                        </a>
                        <div style="float: right; padding-right: 5px;">
                          <%= link_to "Delete", posts_path, class: " bttn-common bttn-danger-sm bttn-danger" %>
                        </div>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>

            <% if !@requesters.empty? %>
              <div class="col col-md-6 requesters section">
                <div class="row center">
                  <h6 class="col text-center col-md-12 txt-general requesters-title">Whom you have requested to follow</h6>
                  <% @requesters.each do |requester| %>
                    <div class="col col-md-12 follow-items ">
                        <a type="button" class="txt-general" data-bs-toggle="modal" data-bs-target="#exampleModal" style="text-decoration: none; padding-left: 10px;">
                          <%= requester.first_name + " " + requester.last_name %>
                        </a>
                        <div style="float: right; padding-right: 5px;">
                          <%= link_to "Delete", posts_path, class: " bttn-common bttn-danger-sm bttn-danger" %>
                        </div>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if !@followees.empty? || !@followers.empty?%>
          <div class="row following follow-section">
            
            <h4 class="txt-general">Followings</h4>
            
            <% if !@followees.empty? %>
              <div class="col col-md-6 followees">

                <% @followees.each do |followee| %>
                  <div class="col col-md-6 requesters section" style="margin-right: 10px;">
                    <div class="row center">
                      <h6 class="col text-center col-md-12 txt-general requesters-title">Whom you have requested to follow</h6>
                      <% @followees.each do |followee| %>
                        <div class="col col-md-12 follow-items ">
                            <a type="button" class="txt-general" data-bs-toggle="modal" data-bs-target="#exampleModal" style="text-decoration: none; padding-left: 10px;">
                              <%= followee.first_name + " " + followee.last_name %>
                            </a>
                            <div style="float: right; padding-right: 5px;">
                              <%= link_to "Delete", posts_path, class: " bttn-common bttn-danger-sm bttn-danger" %>
                            </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>

              </div>
            <% end %>

            <% if !@followers.empty? %>
              <div class="col col-md-6 followers">

                <% @followers.each do |follower| %>
                  <%= follower.username %>
                <% end %>

              </div>
            <% end %>

          </div>
        <% end %>
      </div>
    <% end %>
    
    
  </div>
</div>