<%= render "handle_posts/approve_posts/approve_post/approve_header", post: post %>
<div id="<%= "#{dom_id(post)}_body" %>" style= "align-items: center; justify-content: center;">
  <hr class="post-line-hr">
  <% if !post.disapprove_message.nil? %>
    <div class="txt-danger post-disapprove-count-div" style="padding: 10px; font-size: 20px;">
      <%= post.disapprove_message %>
    </div>
    <hr class="post-line-hr">
  <% end %>
  
  <%= render "posts/post/post_image", post: post %>
  <div id="<%= "#{dom_id(post)}_description" %>" style="margin-left: 10px">
    <p class="txt-general">
      <%= post.body %>
    </p>
  </div>
</div>
    