<div id="<%= "#{dom_id(post)}_footer" %>" class="card-footer">
  <div class="row">
    <%= render "posts/post/post_like", post: post %>
    <div id="<%= "#{dom_id(post)}_comment_button" %>" class="col center">
      <a class="txt-general" data-bs-toggle="collapse" href="#<%= "#{dom_id(post)}_comment" %>" role="button" aria-expanded="false" aria-controls="<%= "#{dom_id(post)}_comment" %>" >
        <i class="fa-solid fa-message fa-xl"></i>
      </a>
    </div>
  </div>
</div>