<footer class="text-center text-lg-start bg-light text-muted" style="position: fixed; bottom: 0; width: 100%">

  <section>
    <div class="container text-center text-md-start mt-5">
    </div>
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-6">
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-6">
          <h6 class="text-uppercase fw-bold mb-4">
            Links
          </h6>
          <ul>
            <li><%= link_to "About Us", home_about_us_path, class: "nav-link" %></li>
            <% if user_signed_in? %>
             <li><%= link_to "All Posts", posts_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "Your Posts", your_posts_get_posts_path, class: "nav-link" %></li>
              <% if !current_user.is_admin? %>
                <% if !current_user.is_requested %>
                  <li><%= link_to "Request for Admin Role", change_role_change_is_admin_path, class: "nav-link" %></li>
                <% end %>
              <% else %>
                <li><%= link_to "Requests", change_role_role_change_requests_path, class: "nav-link" %></li>
                <li><%= link_to "Posts tobe Approved", handle_posts_posts_tobe_approved_path, class: "nav-link" %></li>
              <% end %>
            <% else %>
              <li class="nav-item"><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "Sign in", new_user_session_path, class: "nav-link" %> </li>
            <% end %>
          </ul>
        </div>
        
        

        <!-- Grid column -->
        <div class="col-md-5 col-lg-5 col-xl-4 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p>Nascenia Ltd.<br>  
          House 6/14, Block A, Lalmatia, Dhaka – 1207<br> 
          mark@nascenia.com</p>
        </div>
      </div>
    </div>
  </section>

   <div class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block"></div>
    <div style="d-flex background-color: rgba(0, 0, 0, 0.05);">
      <div class="me-5 d-none d-lg-block"></div>
      <a href="" class="me-4 text-reset"></a><a href="" class="me-4 text-reset"></a>
      <a href="" class="me-4 text-reset"><i class="bi bi-twitter"></i></a>
      <a href="" class="me-4 text-reset"><i class="bi bi-facebook"></i></a>
    </div>
  </div>

  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Nascenia
  </div>
</footer>