<nav class="navbar navbar-expand-lg bg-light">
  &nbsp &nbsp &nbsp
  <div class="container-fluid">
    <% if user_signed_in? %>
      <%= link_to posts_path, class: "nav-link" do %>
        <%= image_tag "blogs.png", size: "110x40" %>
      <% end %>
    <% else %>
      <%= link_to root_path, class: "nav-link" do%>
        <%= image_tag "blogs.png", size: "110x40" %>
      <% end %>
    <% end %>
    
    &nbsp &nbsp &nbsp
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <%= link_to home_about_us_path, class: "nav-link"  do %>
              <i class="bi bi-info-circle-fill"></i> About Us 
            <% end %>
        </li>
        <% if user_signed_in? %>
         
          <% if current_user.is_admin? %>
            <%= link_to change_role_role_change_requests_path, class: "nav-link" do %>
              <i class="fa-solid fa-file-pen"></i>Requests
            <% end %>

            <%= link_to handle_posts_posts_tobe_approved_path, class: "nav-link" do %>
              <i class="bi bi-bookmarks-fill"></i>Posts tobe Approved
            <% end %>
          <% end %>

            <%= link_to posts_path, class: "nav-link" do %>
              <i class="bi bi-stickies"></i>All Posts
            <% end %>
        <% end %>

      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <%= link_to your_posts_get_posts_path, class: "nav-link" do %>
              <i class="bi bi-stickies-fill"></i>Your Posts
          <% end %>
          <%= link_to handle_posts_pending_posts_path, class: "nav-link" do %>
            <i class="bi bi-hourglass-split"></i>Pending Posts
          <% end %>

          <%= link_to destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "nav-link" do %>
            <i class="bi bi-box-arrow-right"></i>Sign out
          <% end %>
        <% else %>
           <%= link_to new_user_registration_path, class: "nav-link" do %>
                <i class="bi bi-person-plus-fill"></i> Sign up
              <% end %>
              
              <%= link_to new_user_session_path, class: "nav-link" do %>
                <i class="bi bi-box-arrow-in-right"></i> Sign in
              <% end %>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <%= link_to edit_user_registration_path, class: "nav-link" do%>
          <%if current_user.image.attached? %>
            <%= image_tag current_user.image, style: "width: 40px; height: 40px; display: block; border-radius: 40px" %>
          <% else %>
            <ul class="navbar-nav"><li class="nav-link"><i class="bi bi-pencil-fill"></i>Edit Profile</li></ul>
          <% end %>
        <% end %>
        &nbsp 
      <% end %>
    </div>
  </div>
</nav>